<div class="row">
    <div class="col-xs-12">
      <form>
        <div class="row">
          <div class="col-sm-5">
            <label for="nombre">
              Nombre
            </label>
            <input
            type="text"
            id="nombre"
            class="form-control"
            #nombreInput
            >
          </div>
          <div class="col-sm-2">
              <label for="monto">Monto</label>
              <input
              type="number"
              id="monto"
              class="form-control"
              #montoInput
              >
            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12">
            <button
            class="btn btn-success"
            type="submit"
            (click)="onAddItem()"
            >Add</button>
            &nbsp;
            <button class="btn btn-danger" type="button">X</button>
            &nbsp;
            <button class="btn btn-primary" type="button">Clear</button>
          </div>
        </div>
      </form>
    </div>
  </div>
