<div>
  <h2>sss</h2>
</div>
<!-- <div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">
      Nueva Receta</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <a href="#"
    class="list-group-item clearfix"
    *ngFor="let receta of recetas">
      <div class="pull-left">
        <h4 class="list-group-item-heading">
          {{ receta.nombre }}
        </h4>
        <p class="list-group-item-text">
          Descripcion
        </p>
      </div>
      <span class="pull-right">
        <img src="" alt="">
      </span>
    </a>
  </div>
</div>
<app-receta-item></app-receta-item> -->
