<div class="row">
  <div class="col-xs-12
  col-sm-10 col-md-8 col-sm-offset-1 col-sm-offset-2" >
    <form (ngSubmit)="onRegistro(f)" #f="ngForm">
      <div class="form-group">
        <label for="">Email</label>
        <input type="text" id="email" name="correo"
        ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="">Contraseña</label>
        <input type="password" id="pass" name="contraseña"
        ngModel class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Registrate</button>
    </form>
  </div>
</div>

