<div class="row">
  <div class="col-xs-12">
    <h1>Nombre Receta</h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="button-group">
        <button
        type="button"
        class="btn btn-primary">
        mnge receta.
        <span class="caret"></span>
        </button>
        <ul>
          <li><a href="#"></a>To Shopping Lista</li>
          <li><a href="#"></a>Edita Receta</li>
          <li><a href="#"></a>Delete Receta</li>
        </ul>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Descripcion
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      Ingredientes
    </div>
  </div>
